body {
    font-family:'Times New Roman', Times, serif;
    text-align: center;
    background-repeat: repeat;
    background-size: auto;
    background-image: url("/workspaces/htmlproject/3GVRBJ45QOPLJZ3AUN3WEXGBEMTDRJRW.gif");
}